{% extends 'base.html' %}

{% block content %}

<h2 align="center">Vista administrador</h2>
<div class="panel-botones">
    <div class="grid-botones">
      <button class="boton">Agregar producto</button>
      <button class="boton">Modificar producto</button>
      <button class="boton">Eliminar producto</button>
      <button class="boton">Lista de producto</button>
      <div class="centrado">
        <button class="boton grande">Registrar usuario</button>
      </div>
    </div>
  </div>


{% endblock %}