{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - BecsFrutosSecos</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" />
</head>
<body>
    <div class="head">

        <div class="logo">
            <a href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>

        </div>
        <nav class="navbar">
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <a href="{% url 'inicio' %}">Inicio</a>
                    <a href="{% url 'nosotros' %}">Sobre Nosotros</a>
                    <a href="{% url 'tienda' %}">Tienda</a>
                    <a href="{% url 'listadoproducto' %}">Listado Productos</a>
                    <a href="{% url 'home' %}">Administrar Productos</a>
                    <a href="#">Bienvenid@ {{ user.username }}</a>
                {% else %}
                    <a href="{% url 'inicio' %}">Inicio</a>
                    <a href="{% url 'nosotros' %}">Sobre Nosotros</a>
                    <a href="{% url 'tienda' %}">Tienda</a>
                    <a href="{% url 'listadoproducto' %}">Listado Productos</a>
                    <a href="#">Bienvenid@ {{ user.username }}</a>
                {% endif %}
            {% else %}
                <a href="{% url 'inicio' %}">Inicio</a>
                <a href="{% url 'nosotros' %}">Sobre Nosotros</a>
                <a href="{% url 'mostrar' %}">Ver Productos</a>
                <a href="{% url 'listadoproducto' %}">Listado Productos</a>
                <a href="{% url 'registrar' %}">Registrate</a>
            {% endif %}
            <div>
                {% if user.is_authenticated %}
                <a href="{% url 'salir' %}">Cerrar sesión</a>
                {% else %} 
                <a href="{% url 'iniciosesion' %}" >Iniciar sesión</a>
                {% endif %}
            </div>
      </nav>
    </div>

    {% block content %}

    {% endblock %}

<footer class="pie-pagina">
  <div class="grupo-1">
      <div class="box">
          <figure>
              <a href="#">
                  <img src="{% static 'img/logo.png' %}" alt="Logo Gati Gourmet">
              </a>
          </figure>
      </div>
      <div class="box">
        <h2>SIGUENOS</h2>
        <div class="red-social">
            <a href="https://web.facebook.com/profile.php?id=100063534971102&locale=es_LA"><img src="{% static 'img/facebook.png' %}" alt= "Facebook"></a>
            <a href="https://www.instagram.com/gatigourmet/?hl=es-la"><img src="{% static 'img/instagram.png' %}" alt= "Instagram"></a>
            <a href="https://wa.me/c/56982181412"><img src="{% static 'img/whatsapp.png' %}" alt="Whatsapp"></a>
        </div>
    </div>
</div>
<div class="grupo-2">
    <small>&copy; 2024 <b>Gati Gourmet</b> - Todos los Derechos Reservados.</small>
</div>
</footer>
</body>
</html>