{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_header.css' %}">
    <link rel="stylesheet" href="{% static 'css/inicio_sesion_styles.css' %}">
    <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>
    <title>Becs Frutos Secos</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="../static/img/logobecs.jpg" alt="Logo Becs" class="logo">
            <h3>Becs Frutos Secos y Condimentos</h3>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'inicio' %}"><button>Inicio</button></a></li>
                <li><a href="{% url 'tienda' %}"><button>Tienda</button></a></li>
                <li><a href="/"><button>Despacho</button></a></li>
                <li><a href="/"><button>Quienes somos</button></a></li>
                <li><a href="/"><button>Contacto</button></a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                      </svg>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                      {% if user.is_authenticated %}
                        <li><a class="dropdown-item" href="#">Bienvenid@ {{ user.first_name }} {{ user.last_name }}</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                      {% else %}
                        <li><a class="dropdown-item" href="{% url 'iniciosesion' %}">Iniciar sesión</a></li>
                        <li><a class="dropdown-item" href="{% url 'registrate' %}">Registrarse</a></li>
                      {% endif %}
                    </ul>
                  </li>
                  
                <div class="barra-carrito">
                    <div class="contenedor-carrito">
                      <a href="/carrito" class="carrito-link">
                        <i class="fas fa-shopping-cart"></i> 
                      </a>
                    </div>
                  </div>

            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% include "footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>