{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 align="center">Productos</h1>

<div class="productos-container">
    {% for producto in productos %}
    <div class="producto-tienda">
      <img class="logo-producto" src="{% static 'img/noimage.png' %}" alt="Maní confitado">
      <p>{{producto.nombre_producto}} <br>
        {{producto.descripcion}} <br>
        Precio: ${{producto.precio}} <br><br>
        <button class="btn-agregar">Agregar producto</button>
      </p>
    </div>
    {% endfor %}
</div>
{% endblock %}
